.todo__list {
   align-items: center;
   border: 1px solid lightgray;
   display: flex;
   justify-content: center;
   margin-bottom: 10px !important;
   width: 400px;
}

.App > ul {
   padding-inline-start: 0px;
}